.ant-form-item{
    display: flex;
    margin: 0 ;
    .ant-form-item-label{
        float: left;
        margin:0 0 0 10px;
    }
    .ant-checkbox-wrapper{
        position: relative;
        float: left;
        margin: 8px 5px 8px 0;
        .ant-checkbox{
            position: absolute;
            left: -999em;
            & ~ span{
                display: inline-block;
                padding: 0 15px;
                font-size: 15px;
                height: 24px;
                line-height: 24px;
                border-radius: 12px;
            }
            &.ant-checkbox-checked{
                & ~ span{
                    background: #ff0000;
                    color: #fff;
                    
                }
            }
        }
    }
    .ant-radio-wrapper{
        position: relative;
        float: left;
        margin: 8px 5px 8px 0;
        .ant-radio{
            position: absolute;
            left: -999em;
            & ~ span{
                display: inline-block;
                padding: 0 15px;
                font-size: 15px;
                height: 24px;
                line-height: 24px;
                border-radius: 12px;
            }
            &.ant-radio-checked{
                & ~ span{
                    background: #ff0000;
                    color: #fff;
                    
                }
            }
        }
    }
}
