@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*使用选择器指定字体*/
.home h1, .demo > .test {
  font-family: 'pinghei';
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c, sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  background: transparent;
  height: 100%;
}

body {
    position: relative;
    background: #fff;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
    font-weight: 400;
    color: #333;
    height: 100%;
    font-size: 14px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, sumary ,label{
  margin: 0;
  padding: 0;
}

input, select, textarea {
  border: 0;
  -webkit-appearance: none;
  appearance: none;
}

ol, ul {
  list-style: none;
}

*:not(input),*:not(select),*:not(textArea) {
  -webkit-user-select: none;
}

img, a {
  -webkit-touch-callout: none;
}

a, a:active, a:hover {
  text-decoration: none;
}

a, button, input, textarea {
  -webkit-tap-highlight-color: transparent;
}

.clearfix::after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both
}

.clearfix{
    zoom:1;
}

.fl{
  float: left;
}
.fr{
  float: right;
}

.pl{
  position: absolute;
  left: 0;
}
.pr{
  position: absolute;
  right: 0;
}
.text_overflow{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

#root{
  position: relative;
  min-height: 100%;
}

header{
  width: 100%;
  height: 65px;
  line-height: 65px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow:0px 10px 20px #f0f0f0;
  .navbar{
    width: 1380px;
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    .headerLogo_bg{
      position: absolute;
      left: -270px;
      top:0;
    }
    .title{
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      margin-top: 10px;
      text-align: center;
      margin: 0; 
      font-size: 20px;
      font-weight: bold;
    }
    .logo{
      position: absolute;
      left: 0;
      top: 50%;
      height: 65px;
      line-height: 65px;
      transform: translate(0,-50%);
      z-index: 999;
      overflow: hidden;
      padding: 5px 0; 
      img{
        max-width: 100%;
        height: 55px;
        vertical-align: 0;
      }
    }
    .navbar_right{
      position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: 999;
        li{
          float: left;
          height: 65px;
          line-height: 65px;
          .cartNums_wrap{
            position: relative;
            .badge{
              position: absolute;
              top: 15px;
              left: 38px;
              background: #ff0000;
            }
          }
          .searchStr_box{
            width: 220px;
            height: 30px;
            line-height: 30px;
            margin-top: 17px;
            margin-right: 20px;
            position: relative;
            .search_text {
              width: 100%;
              background: #f1f1f1;
              border-radius: 15px;
              height: 30px;
              line-height: 30px;
              padding: 5px 40px 5px 10px;
              outline: none;
              font-size: 12px;
            }
            .search_btn{
              position: absolute;
              right: 0;
              top: 0;
              padding: 5px 10px;
              border-top-right-radius: 15px;
              border-bottom-right-radius: 15px;
              cursor: pointer;
            }
          }
          a{
            display: block;
            height: 65px;
            line-height: 65px;
            padding: 0 25px;
            color: #ff0000;
            font-size: 16px;
            text-decoration: underline;
          }
        }
    }
  }
}