.main{
    width: 1550px;
    margin: 0 auto;
    position: relative;
    
}
.main_content{
    float: right;
    padding-top: 80px;
    width: 1310px;
    min-height: 100vh;
    background: #f8f7f7;
}